In [1]:
%cd ../..

/Users/chanwutk/Documents/apperception

In [2]:
from apperception.database import database

In [3]:
### Add Segment Types Attributes to Table ###
query = """ALTER TABLE SegmentPolygon
           ADD segmentTypes text[];   
        """
database._execute_query(query=query)
database._commit(True)

In [4]:
ROAD_TYPES = {"road", "lane", "lanesection", "roadSection", "intersection"}

In [5]:
for road_type in ROAD_TYPES:
    # Add road type to all polygons of that type
    query = f"""UPDATE SegmentPolygon
               SET segmentTypes = ARRAY_APPEND(segmentTypes, '{road_type}')
               WHERE elementId IN (SELECT id FROM {road_type});
            """
    database._execute_query(query=query)
    database._commit(True)

In [6]:
# Create index on segment polygon
query = """
    CREATE INDEX IF NOT EXISTS segPoly_idx
    ON SegmentPolygon
    USING GiST(elementPolygon);
"""
database._execute_query(query=query)
database._commit(True)

In [7]:
database.sql("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
""")

                 table_name
0                   cameras
1              general_bbox
2         geography_columns
3          geometry_columns
4              intersection
5   item_general_trajectory
6                      lane
7          lane_lanesection
8                 lanegroup
9            lanegroup_lane
10              lanesection
11       mobilitydb_opcache
12       opposite_lanegroup
13                     road
14           road_lanegroup
15         road_roadsection
16              roadsection
17  roadsection_lanesection
18                  segment
19           segmentpolygon
20          spatial_ref_sys